<h1>Restaurants</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Website</th>
<!-- beast mode 
      <th>Today's Hours</th>
    -->
    </tr>
  </thead>
  <tbody>
    <% @restaurants.each do |restaurant| %>
      <tr>
        <td><%= restaurant.name %></td>
        <td><%= link_to restaurant.website, "http://#{restaurant.website}" %></td>
      </tr>
    <% end %>  
  </tbody>
</table>
